.profile__info {
    display: grid;
    gap: 16px 18px;
    grid-template-areas: 
    "name edit"
    "position position";
    margin-left: 30px;
}

@media screen and (max-width: 1000px) {
    .profile__info {
        margin: 0 0 36px;
        grid-template-columns: 220px 18px;
        justify-content: center;
        gap: 0;
    }
}