.authorization__submit {
  height: 50px;
  width: 100%;
  padding: 0;
  background: #ffffff;
  border: 0;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  transition: 0.4s;
  cursor: pointer;
}

.authorization__submit:hover {
  opacity: 0.85;
}

@media screen and (max-width: 430px) {
  .authorization__submit {
    font-size: 16px;
    line-height: 19px;
  }
}
