@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/authorization/authorization.css);
@import url(../blocks/authorization/__caption/authorization__caption.css);
@import url(../blocks/authorization/__input/authorization__input.css);
@import url(../blocks/authorization/__submit/authorization__submit.css);
@import url(../blocks/authorization/__title/authorization__title.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__authorization/header__authorization.css);
@import url(../blocks/header/__email/header__email.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__cover/profile__cover.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__hover/profile__hover.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__position/profile__position.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__vector/profile__vector.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__picture/element__picture.css);
@import url(../blocks/element/__remove/element__remove.css);
@import url(../blocks/element/__remove/_visible/element__remove_visible.css);
@import url(../blocks/element/__remove/_hidden/element__remove_hidden.css);
@import url(../blocks/element/__cover/element__cover.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-container/element__like-container.css);
@import url(../blocks/element/__num-like/element__num-like.css);
@import url(../blocks/element/__button/element__button.css);
@import url(../blocks/element/__button/_active/element__button_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__title-confirm/popup__title-confirm.css);
@import url(../blocks/popup/__form-set/popup__form-set.css);
@import url(../blocks/popup/__text/popup__text.css);
@import url(../blocks/popup/__text/_type/popup__text_type_name.css);
@import url(../blocks/popup/__text/_type/popup__text_type_position.css);
@import url(../blocks/popup/__text/_type/popup__text_type_place.css);
@import url(../blocks/popup/__text/_type/popup__text_type_link.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__figure/popup__figure.css);
@import url(../blocks/popup/__picture/popup__picture.css);
@import url(../blocks/popup/__figcaption/popup__figcaption.css);
@import url(../blocks/popup/__text-error/popup__text-error.css);
@import url(../blocks/popup/__text-error/_active/popup__text-error_active.css);
@import url(../blocks/popup/__text/_type/popup__text_type_error.css);
@import url(../blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(../blocks/popup/__info-tooltip/popup__info-tooltip.css);
@import url(../blocks/popup/__info-tooltip/_picture/popup__info-tooltip_picture.css);
@import url(../blocks/popup/__info-tooltip/_message/popup__info-tooltip_message.css);
@import url(../blocks/label/label.css);
@import url(../blocks/loader/loader.css);
