.authorization__caption {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #fff;
  transition: .3s;
}

.authorization__caption:hover {
  opacity: .6;
}
