.authorization__input {
  width: 100%;
  margin: 0 0 30px;
  padding: 0 0 13px 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  line-height: 17px;
  color: #cccccc;
  outline: none;
}

.authorization__input:last-of-type {
  margin: 0 0 216px 0;
}

@media screen and (max-width: 430px) {
  .authorization__input:last-of-type {
    margin: 0 0 173px 0;
  }
}
